.calendar {
  color: #444;
  background-color: #5b88f366;
  padding: 0 10px;
  height: calc(100vh - 50px);
  overflow: scroll;
}

.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar__header-item {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.calendar__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  /* padding-bottom: 70px; */
}

/* DAY */

.day {
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  
  &__date {
    margin: 0;
  }
  
  &__reminders {
    max-height: calc(100% - 20px);
    overflow: hidden;
  }
  
  &__add {
    cursor: pointer;
    color: #ddd;
    
    &:hover {
      color: #444;
    }
  }
}


/* REMINDER */

.reminder {
  display: grid;
  grid-template-columns: 25px 1fr 20px;
  padding-bottom: 10px;
  
  &__start,
  &__title {
    margin: 0;
    font-size: 12px;
  }
  
  &__title {
    /* width: 100px;
    white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__start {
    font-weight: bold;
  }
  
  &__colour {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 5px;
  }

  &__remove {
    justify-self: flex-end;
    color: grey;
    pointer-events: all;
    cursor: pointer;
  }
}
